{% load staticfiles %}
<script type="text/javascript" src="{% static 'resources/js/vendor/jquery.js' %}"></script>

<script type="text/javascript" src="{% static 'resources/js/jquery.xdomainajax.js' %}"></script>

<script type="text/javascript" src="{% static 'resources/js/beerAdvocate.js' %}"></script>

<button onclick="discoverBreweries()">Click Here To Discover Breweries</button>
<br/>
<button onclick="breweryJSON()">Click Here To Build Brewery JSON</button>
<br/>
<button onclick="styleJSON()">Click Here To Build Styles</button>
<br/>
<button onclick="beerJSON()">Click Here To Build Beers</button>
<br/>
<button onclick="buildBeerSQL()">Click Here To Build Beer Update</button>


<body>

<body><div id="beerJSON">
</div>

<div id="beerSQL">
</div>

<body><div id="styleJSON">
</div>

<body><div id="breweryJSON">
</div>

<body><div id="breweryLinks">
</div>


<div id ="beers" style="display: none">

<div id="62050">http://www.beeradvocate.com/beer/profile/119/62050/</div>
<div id="110886">http://www.beeradvocate.com/beer/profile/147/110886/</div>
<div id="62428">http://www.beeradvocate.com/beer/profile/1135/62428/</div>
<div id="34138">http://www.beeradvocate.com/beer/profile/1169/34138/</div>
<div id="110323">http://www.beeradvocate.com/beer/profile/1416/110323/</div>
<div id="15414">http://www.beeradvocate.com/beer/profile/2470/15414/</div>
<div id="72390">http://www.beeradvocate.com/beer/profile/12881/72390/</div>
<div id="72391">http://www.beeradvocate.com/beer/profile/12881/72391/</div>
<div id="5614">http://www.beeradvocate.com/beer/profile/1337/5614/</div>
<div id="5933">http://www.beeradvocate.com/beer/profile/1337/5933/</div>
<div id="9453">http://www.beeradvocate.com/beer/profile/1337/9453/</div>
<div id="10097">http://www.beeradvocate.com/beer/profile/1337/10097/</div>
<div id="10327">http://www.beeradvocate.com/beer/profile/1337/10327/</div>
<div id="11528">http://www.beeradvocate.com/beer/profile/1337/11528/</div>
<div id="11871">http://www.beeradvocate.com/beer/profile/1337/11871/</div>
<div id="11872">http://www.beeradvocate.com/beer/profile/1337/11872/</div>
<div id="11882">http://www.beeradvocate.com/beer/profile/1337/11882/</div>
<div id="11883">http://www.beeradvocate.com/beer/profile/1337/11883/</div>
<div id="11884">http://www.beeradvocate.com/beer/profile/1337/11884/</div>
<div id="11885">http://www.beeradvocate.com/beer/profile/1337/11885/</div>
<div id="11886">http://www.beeradvocate.com/beer/profile/1337/11886/</div>
<div id="11887">http://www.beeradvocate.com/beer/profile/1337/11887/</div>
<div id="11889">http://www.beeradvocate.com/beer/profile/1337/11889/</div>
<div id="12152">http://www.beeradvocate.com/beer/profile/1337/12152/</div>
<div id="12162">http://www.beeradvocate.com/beer/profile/1337/12162/</div>
<div id="12707">http://www.beeradvocate.com/beer/profile/1337/12707/</div>
<div id="12708">http://www.beeradvocate.com/beer/profile/1337/12708/</div>
<div id="12709">http://www.beeradvocate.com/beer/profile/1337/12709/</div>
<div id="13208">http://www.beeradvocate.com/beer/profile/1337/13208/</div>
<div id="13902">http://www.beeradvocate.com/beer/profile/1337/13902/</div>
<div id="13903">http://www.beeradvocate.com/beer/profile/1337/13903/</div>
<div id="13907">http://www.beeradvocate.com/beer/profile/1337/13907/</div>
<div id="13934">http://www.beeradvocate.com/beer/profile/1337/13934/</div>
<div id="13935">http://www.beeradvocate.com/beer/profile/1337/13935/</div>
<div id="13937">http://www.beeradvocate.com/beer/profile/1337/13937/</div>
<div id="13938">http://www.beeradvocate.com/beer/profile/1337/13938/</div>
<div id="13940">http://www.beeradvocate.com/beer/profile/1337/13940/</div>
<div id="13944">http://www.beeradvocate.com/beer/profile/1337/13944/</div>
<div id="13948">http://www.beeradvocate.com/beer/profile/1337/13948/</div>
<div id="13950">http://www.beeradvocate.com/beer/profile/1337/13950/</div>
<div id="13951">http://www.beeradvocate.com/beer/profile/1337/13951/</div>
<div id="13954">http://www.beeradvocate.com/beer/profile/1337/13954/</div>
<div id="13956">http://www.beeradvocate.com/beer/profile/1337/13956/</div>
<div id="14711">http://www.beeradvocate.com/beer/profile/1337/14711/</div>
<div id="15543">http://www.beeradvocate.com/beer/profile/1337/15543/</div>
<div id="15994">http://www.beeradvocate.com/beer/profile/1337/15994/</div>
<div id="16390">http://www.beeradvocate.com/beer/profile/1337/16390/</div>
<div id="16688">http://www.beeradvocate.com/beer/profile/1337/16688/</div>
<div id="16690">http://www.beeradvocate.com/beer/profile/1337/16690/</div>
<div id="16832">http://www.beeradvocate.com/beer/profile/1337/16832/</div>
<div id="16833">http://www.beeradvocate.com/beer/profile/1337/16833/</div>
<div id="17967">http://www.beeradvocate.com/beer/profile/1337/17967/</div>
<div id="18201">http://www.beeradvocate.com/beer/profile/1337/18201/</div>
<div id="19187">http://www.beeradvocate.com/beer/profile/1337/19187/</div>
<div id="19188">http://www.beeradvocate.com/beer/profile/1337/19188/</div>
<div id="20083">http://www.beeradvocate.com/beer/profile/1337/20083/</div>
<div id="20151">http://www.beeradvocate.com/beer/profile/1337/20151/</div>
<div id="20152">http://www.beeradvocate.com/beer/profile/1337/20152/</div>
<div id="20153">http://www.beeradvocate.com/beer/profile/1337/20153/</div>
<div id="20192">http://www.beeradvocate.com/beer/profile/1337/20192/</div>
<div id="21086">http://www.beeradvocate.com/beer/profile/1337/21086/</div>
<div id="21383">http://www.beeradvocate.com/beer/profile/1337/21383/</div>
<div id="22266">http://www.beeradvocate.com/beer/profile/1337/22266/</div>
<div id="23079">http://www.beeradvocate.com/beer/profile/1337/23079/</div>
<div id="23460">http://www.beeradvocate.com/beer/profile/1337/23460/</div>
<div id="24335">http://www.beeradvocate.com/beer/profile/1337/24335/</div>
<div id="25718">http://www.beeradvocate.com/beer/profile/1337/25718/</div>
<div id="25826">http://www.beeradvocate.com/beer/profile/1337/25826/</div>
<div id="25829">http://www.beeradvocate.com/beer/profile/1337/25829/</div>
<div id="26247">http://www.beeradvocate.com/beer/profile/1337/26247/</div>
<div id="26249">http://www.beeradvocate.com/beer/profile/1337/26249/</div>
<div id="26535">http://www.beeradvocate.com/beer/profile/1337/26535/</div>
<div id="26797">http://www.beeradvocate.com/beer/profile/1337/26797/</div>
<div id="26891">http://www.beeradvocate.com/beer/profile/1337/26891/</div>
<div id="26956">http://www.beeradvocate.com/beer/profile/1337/26956/</div>
<div id="27074">http://www.beeradvocate.com/beer/profile/1337/27074/</div>
<div id="27434">http://www.beeradvocate.com/beer/profile/1337/27434/</div>
<div id="28029">http://www.beeradvocate.com/beer/profile/1337/28029/</div>
<div id="28088">http://www.beeradvocate.com/beer/profile/1337/28088/</div>
<div id="28163">http://www.beeradvocate.com/beer/profile/1337/28163/</div>
<div id="28164">http://www.beeradvocate.com/beer/profile/1337/28164/</div>
<div id="30142">http://www.beeradvocate.com/beer/profile/1337/30142/</div>
<div id="30280">http://www.beeradvocate.com/beer/profile/1337/30280/</div>
<div id="30797">http://www.beeradvocate.com/beer/profile/1337/30797/</div>
<div id="30835">http://www.beeradvocate.com/beer/profile/1337/30835/</div>
<div id="30837">http://www.beeradvocate.com/beer/profile/1337/30837/</div>
<div id="30838">http://www.beeradvocate.com/beer/profile/1337/30838/</div>
<div id="31364">http://www.beeradvocate.com/beer/profile/1337/31364/</div>
<div id="32474">http://www.beeradvocate.com/beer/profile/1337/32474/</div>
<div id="32692">http://www.beeradvocate.com/beer/profile/1337/32692/</div>
<div id="32694">http://www.beeradvocate.com/beer/profile/1337/32694/</div>
<div id="32837">http://www.beeradvocate.com/beer/profile/1337/32837/</div>
<div id="32838">http://www.beeradvocate.com/beer/profile/1337/32838/</div>
<div id="34163">http://www.beeradvocate.com/beer/profile/1337/34163/</div>
<div id="34183">http://www.beeradvocate.com/beer/profile/1337/34183/</div>
<div id="34241">http://www.beeradvocate.com/beer/profile/1337/34241/</div>
<div id="34447">http://www.beeradvocate.com/beer/profile/1337/34447/</div>
<div id="34450">http://www.beeradvocate.com/beer/profile/1337/34450/</div>
<div id="34815">http://www.beeradvocate.com/beer/profile/1337/34815/</div>
<div id="34910">http://www.beeradvocate.com/beer/profile/1337/34910/</div>
<div id="35172">http://www.beeradvocate.com/beer/profile/1337/35172/</div>
<div id="35220">http://www.beeradvocate.com/beer/profile/1337/35220/</div>
<div id="35221">http://www.beeradvocate.com/beer/profile/1337/35221/</div>
<div id="35227">http://www.beeradvocate.com/beer/profile/1337/35227/</div>
<div id="35244">http://www.beeradvocate.com/beer/profile/1337/35244/</div>
<div id="35731">http://www.beeradvocate.com/beer/profile/1337/35731/</div>
<div id="36706">http://www.beeradvocate.com/beer/profile/1337/36706/</div>
<div id="37097">http://www.beeradvocate.com/beer/profile/1337/37097/</div>
<div id="37816">http://www.beeradvocate.com/beer/profile/1337/37816/</div>
<div id="38417">http://www.beeradvocate.com/beer/profile/1337/38417/</div>
<div id="38516">http://www.beeradvocate.com/beer/profile/1337/38516/</div>
<div id="38575">http://www.beeradvocate.com/beer/profile/1337/38575/</div>
<div id="38576">http://www.beeradvocate.com/beer/profile/1337/38576/</div>
<div id="38863">http://www.beeradvocate.com/beer/profile/1337/38863/</div>
<div id="38869">http://www.beeradvocate.com/beer/profile/1337/38869/</div>
<div id="39503">http://www.beeradvocate.com/beer/profile/1337/39503/</div>
<div id="39560">http://www.beeradvocate.com/beer/profile/1337/39560/</div>
<div id="39630">http://www.beeradvocate.com/beer/profile/1337/39630/</div>
<div id="40760">http://www.beeradvocate.com/beer/profile/1337/40760/</div>
<div id="41197">http://www.beeradvocate.com/beer/profile/1337/41197/</div>
<div id="41350">http://www.beeradvocate.com/beer/profile/1337/41350/</div>
<div id="41351">http://www.beeradvocate.com/beer/profile/1337/41351/</div>
<div id="41352">http://www.beeradvocate.com/beer/profile/1337/41352/</div>
<div id="41353">http://www.beeradvocate.com/beer/profile/1337/41353/</div>
<div id="41354">http://www.beeradvocate.com/beer/profile/1337/41354/</div>
<div id="41609">http://www.beeradvocate.com/beer/profile/1337/41609/</div>
<div id="42243">http://www.beeradvocate.com/beer/profile/1337/42243/</div>
<div id="42323">http://www.beeradvocate.com/beer/profile/1337/42323/</div>
<div id="42665">http://www.beeradvocate.com/beer/profile/1337/42665/</div>
<div id="43186">http://www.beeradvocate.com/beer/profile/1337/43186/</div>
<div id="43765">http://www.beeradvocate.com/beer/profile/1337/43765/</div>
<div id="44115">http://www.beeradvocate.com/beer/profile/1337/44115/</div>
<div id="44152">http://www.beeradvocate.com/beer/profile/1337/44152/</div>
<div id="44217">http://www.beeradvocate.com/beer/profile/1337/44217/</div>
<div id="44386">http://www.beeradvocate.com/beer/profile/1337/44386/</div>
<div id="44661">http://www.beeradvocate.com/beer/profile/1337/44661/</div>
<div id="44880">http://www.beeradvocate.com/beer/profile/1337/44880/</div>
<div id="45204">http://www.beeradvocate.com/beer/profile/1337/45204/</div>
<div id="45611">http://www.beeradvocate.com/beer/profile/1337/45611/</div>
<div id="45804">http://www.beeradvocate.com/beer/profile/1337/45804/</div>
<div id="46465">http://www.beeradvocate.com/beer/profile/1337/46465/</div>
<div id="46521">http://www.beeradvocate.com/beer/profile/1337/46521/</div>
<div id="46522">http://www.beeradvocate.com/beer/profile/1337/46522/</div>
<div id="46523">http://www.beeradvocate.com/beer/profile/1337/46523/</div>
<div id="46524">http://www.beeradvocate.com/beer/profile/1337/46524/</div>
<div id="46525">http://www.beeradvocate.com/beer/profile/1337/46525/</div>
<div id="46526">http://www.beeradvocate.com/beer/profile/1337/46526/</div>
<div id="46766">http://www.beeradvocate.com/beer/profile/1337/46766/</div>
<div id="46768">http://www.beeradvocate.com/beer/profile/1337/46768/</div>
<div id="46928">http://www.beeradvocate.com/beer/profile/1337/46928/</div>
<div id="46929">http://www.beeradvocate.com/beer/profile/1337/46929/</div>
<div id="47002">http://www.beeradvocate.com/beer/profile/1337/47002/</div>
<div id="47607">http://www.beeradvocate.com/beer/profile/1337/47607/</div>
<div id="47922">http://www.beeradvocate.com/beer/profile/1337/47922/</div>
<div id="48226">http://www.beeradvocate.com/beer/profile/1337/48226/</div>
<div id="48508">http://www.beeradvocate.com/beer/profile/1337/48508/</div>
<div id="48899">http://www.beeradvocate.com/beer/profile/1337/48899/</div>
<div id="49152">http://www.beeradvocate.com/beer/profile/1337/49152/</div>
<div id="49552">http://www.beeradvocate.com/beer/profile/1337/49552/</div>
<div id="50814">http://www.beeradvocate.com/beer/profile/1337/50814/</div>
<div id="50969">http://www.beeradvocate.com/beer/profile/1337/50969/</div>
<div id="51322">http://www.beeradvocate.com/beer/profile/1337/51322/</div>
<div id="51349">http://www.beeradvocate.com/beer/profile/1337/51349/</div>
<div id="51926">http://www.beeradvocate.com/beer/profile/1337/51926/</div>
<div id="52390">http://www.beeradvocate.com/beer/profile/1337/52390/</div>
<div id="52607">http://www.beeradvocate.com/beer/profile/1337/52607/</div>
<div id="53763">http://www.beeradvocate.com/beer/profile/1337/53763/</div>
<div id="54273">http://www.beeradvocate.com/beer/profile/1337/54273/</div>
<div id="54377">http://www.beeradvocate.com/beer/profile/1337/54377/</div>
<div id="54547">http://www.beeradvocate.com/beer/profile/1337/54547/</div>
<div id="54554">http://www.beeradvocate.com/beer/profile/1337/54554/</div>
<div id="54563">http://www.beeradvocate.com/beer/profile/1337/54563/</div>
<div id="55518">http://www.beeradvocate.com/beer/profile/1337/55518/</div>
<div id="55673">http://www.beeradvocate.com/beer/profile/1337/55673/</div>
<div id="55674">http://www.beeradvocate.com/beer/profile/1337/55674/</div>
<div id="55676">http://www.beeradvocate.com/beer/profile/1337/55676/</div>
<div id="55938">http://www.beeradvocate.com/beer/profile/1337/55938/</div>
<div id="56546">http://www.beeradvocate.com/beer/profile/1337/56546/</div>
<div id="56607">http://www.beeradvocate.com/beer/profile/1337/56607/</div>
<div id="56988">http://www.beeradvocate.com/beer/profile/1337/56988/</div>
<div id="57068">http://www.beeradvocate.com/beer/profile/1337/57068/</div>
<div id="57176">http://www.beeradvocate.com/beer/profile/1337/57176/</div>
<div id="57288">http://www.beeradvocate.com/beer/profile/1337/57288/</div>
<div id="58242">http://www.beeradvocate.com/beer/profile/1337/58242/</div>
<div id="58723">http://www.beeradvocate.com/beer/profile/1337/58723/</div>
<div id="58818">http://www.beeradvocate.com/beer/profile/1337/58818/</div>
<div id="59688">http://www.beeradvocate.com/beer/profile/1337/59688/</div>
<div id="60196">http://www.beeradvocate.com/beer/profile/1337/60196/</div>
<div id="60197">http://www.beeradvocate.com/beer/profile/1337/60197/</div>
<div id="60218">http://www.beeradvocate.com/beer/profile/1337/60218/</div>
<div id="60282">http://www.beeradvocate.com/beer/profile/1337/60282/</div>
<div id="61182">http://www.beeradvocate.com/beer/profile/1337/61182/</div>
<div id="61685">http://www.beeradvocate.com/beer/profile/1337/61685/</div>
<div id="62213">http://www.beeradvocate.com/beer/profile/1337/62213/</div>
<div id="62889">http://www.beeradvocate.com/beer/profile/1337/62889/</div>
<div id="62894">http://www.beeradvocate.com/beer/profile/1337/62894/</div>
<div id="62971">http://www.beeradvocate.com/beer/profile/1337/62971/</div>
<div id="63499">http://www.beeradvocate.com/beer/profile/1337/63499/</div>
<div id="63521">http://www.beeradvocate.com/beer/profile/1337/63521/</div>
<div id="63597">http://www.beeradvocate.com/beer/profile/1337/63597/</div>
<div id="64028">http://www.beeradvocate.com/beer/profile/1337/64028/</div>
<div id="64230">http://www.beeradvocate.com/beer/profile/1337/64230/</div>
<div id="64426">http://www.beeradvocate.com/beer/profile/1337/64426/</div>
<div id="64621">http://www.beeradvocate.com/beer/profile/1337/64621/</div>
<div id="64655">http://www.beeradvocate.com/beer/profile/1337/64655/</div>
<div id="64986">http://www.beeradvocate.com/beer/profile/1337/64986/</div>
<div id="64987">http://www.beeradvocate.com/beer/profile/1337/64987/</div>
<div id="65178">http://www.beeradvocate.com/beer/profile/1337/65178/</div>
<div id="65179">http://www.beeradvocate.com/beer/profile/1337/65179/</div>
<div id="65180">http://www.beeradvocate.com/beer/profile/1337/65180/</div>
<div id="65457">http://www.beeradvocate.com/beer/profile/1337/65457/</div>
<div id="65472">http://www.beeradvocate.com/beer/profile/1337/65472/</div>
<div id="65494">http://www.beeradvocate.com/beer/profile/1337/65494/</div>
<div id="65550">http://www.beeradvocate.com/beer/profile/1337/65550/</div>
<div id="65656">http://www.beeradvocate.com/beer/profile/1337/65656/</div>
<div id="65657">http://www.beeradvocate.com/beer/profile/1337/65657/</div>
<div id="65658">http://www.beeradvocate.com/beer/profile/1337/65658/</div>
<div id="65659">http://www.beeradvocate.com/beer/profile/1337/65659/</div>
<div id="65660">http://www.beeradvocate.com/beer/profile/1337/65660/</div>
<div id="65723">http://www.beeradvocate.com/beer/profile/1337/65723/</div>
<div id="65917">http://www.beeradvocate.com/beer/profile/1337/65917/</div>
<div id="65920">http://www.beeradvocate.com/beer/profile/1337/65920/</div>
<div id="66025">http://www.beeradvocate.com/beer/profile/1337/66025/</div>
<div id="66026">http://www.beeradvocate.com/beer/profile/1337/66026/</div>
<div id="66045">http://www.beeradvocate.com/beer/profile/1337/66045/</div>
<div id="66083">http://www.beeradvocate.com/beer/profile/1337/66083/</div>
<div id="66226">http://www.beeradvocate.com/beer/profile/1337/66226/</div>
<div id="66269">http://www.beeradvocate.com/beer/profile/1337/66269/</div>
<div id="66565">http://www.beeradvocate.com/beer/profile/1337/66565/</div>
<div id="67034">http://www.beeradvocate.com/beer/profile/1337/67034/</div>
<div id="67553">http://www.beeradvocate.com/beer/profile/1337/67553/</div>
<div id="67881">http://www.beeradvocate.com/beer/profile/1337/67881/</div>
<div id="67882">http://www.beeradvocate.com/beer/profile/1337/67882/</div>
<div id="67883">http://www.beeradvocate.com/beer/profile/1337/67883/</div>
<div id="68802">http://www.beeradvocate.com/beer/profile/1337/68802/</div>
<div id="69052">http://www.beeradvocate.com/beer/profile/1337/69052/</div>
<div id="69098">http://www.beeradvocate.com/beer/profile/1337/69098/</div>
<div id="69222">http://www.beeradvocate.com/beer/profile/1337/69222/</div>
<div id="69357">http://www.beeradvocate.com/beer/profile/1337/69357/</div>
<div id="69361">http://www.beeradvocate.com/beer/profile/1337/69361/</div>
<div id="69374">http://www.beeradvocate.com/beer/profile/1337/69374/</div>
<div id="69392">http://www.beeradvocate.com/beer/profile/1337/69392/</div>
<div id="69727">http://www.beeradvocate.com/beer/profile/1337/69727/</div>
<div id="70104">http://www.beeradvocate.com/beer/profile/1337/70104/</div>
<div id="70870">http://www.beeradvocate.com/beer/profile/1337/70870/</div>
<div id="70890">http://www.beeradvocate.com/beer/profile/1337/70890/</div>
<div id="71426">http://www.beeradvocate.com/beer/profile/1337/71426/</div>
<div id="71564">http://www.beeradvocate.com/beer/profile/1337/71564/</div>
<div id="71599">http://www.beeradvocate.com/beer/profile/1337/71599/</div>
<div id="71602">http://www.beeradvocate.com/beer/profile/1337/71602/</div>
<div id="71625">http://www.beeradvocate.com/beer/profile/1337/71625/</div>
<div id="71646">http://www.beeradvocate.com/beer/profile/1337/71646/</div>
<div id="71663">http://www.beeradvocate.com/beer/profile/1337/71663/</div>
<div id="72766">http://www.beeradvocate.com/beer/profile/1337/72766/</div>
<div id="73057">http://www.beeradvocate.com/beer/profile/1337/73057/</div>
<div id="73203">http://www.beeradvocate.com/beer/profile/1337/73203/</div>
<div id="73490">http://www.beeradvocate.com/beer/profile/1337/73490/</div>
<div id="73979">http://www.beeradvocate.com/beer/profile/1337/73979/</div>
<div id="74121">http://www.beeradvocate.com/beer/profile/1337/74121/</div>
<div id="74189">http://www.beeradvocate.com/beer/profile/1337/74189/</div>
<div id="74252">http://www.beeradvocate.com/beer/profile/1337/74252/</div>
<div id="74561">http://www.beeradvocate.com/beer/profile/1337/74561/</div>
<div id="74763">http://www.beeradvocate.com/beer/profile/1337/74763/</div>
<div id="74764">http://www.beeradvocate.com/beer/profile/1337/74764/</div>
<div id="75914">http://www.beeradvocate.com/beer/profile/1337/75914/</div>
<div id="76009">http://www.beeradvocate.com/beer/profile/1337/76009/</div>
<div id="76032">http://www.beeradvocate.com/beer/profile/1337/76032/</div>
<div id="76318">http://www.beeradvocate.com/beer/profile/1337/76318/</div>
<div id="76572">http://www.beeradvocate.com/beer/profile/1337/76572/</div>
<div id="76929">http://www.beeradvocate.com/beer/profile/1337/76929/</div>
<div id="77046">http://www.beeradvocate.com/beer/profile/1337/77046/</div>
<div id="77047">http://www.beeradvocate.com/beer/profile/1337/77047/</div>
<div id="77197">http://www.beeradvocate.com/beer/profile/1337/77197/</div>
<div id="77372">http://www.beeradvocate.com/beer/profile/1337/77372/</div>
<div id="77847">http://www.beeradvocate.com/beer/profile/1337/77847/</div>
<div id="78135">http://www.beeradvocate.com/beer/profile/1337/78135/</div>
<div id="78181">http://www.beeradvocate.com/beer/profile/1337/78181/</div>
<div id="78182">http://www.beeradvocate.com/beer/profile/1337/78182/</div>
<div id="78204">http://www.beeradvocate.com/beer/profile/1337/78204/</div>
<div id="78205">http://www.beeradvocate.com/beer/profile/1337/78205/</div>
<div id="78403">http://www.beeradvocate.com/beer/profile/1337/78403/</div>
<div id="78405">http://www.beeradvocate.com/beer/profile/1337/78405/</div>
<div id="78546">http://www.beeradvocate.com/beer/profile/1337/78546/</div>
<div id="78699">http://www.beeradvocate.com/beer/profile/1337/78699/</div>
<div id="78701">http://www.beeradvocate.com/beer/profile/1337/78701/</div>
<div id="78768">http://www.beeradvocate.com/beer/profile/1337/78768/</div>
<div id="79644">http://www.beeradvocate.com/beer/profile/1337/79644/</div>
<div id="80434">http://www.beeradvocate.com/beer/profile/1337/80434/</div>
<div id="80435">http://www.beeradvocate.com/beer/profile/1337/80435/</div>
<div id="80971">http://www.beeradvocate.com/beer/profile/1337/80971/</div>
<div id="81059">http://www.beeradvocate.com/beer/profile/1337/81059/</div>
<div id="81166">http://www.beeradvocate.com/beer/profile/1337/81166/</div>
<div id="81180">http://www.beeradvocate.com/beer/profile/1337/81180/</div>
<div id="81506">http://www.beeradvocate.com/beer/profile/1337/81506/</div>
<div id="81507">http://www.beeradvocate.com/beer/profile/1337/81507/</div>
<div id="82653">http://www.beeradvocate.com/beer/profile/1337/82653/</div>
<div id="82993">http://www.beeradvocate.com/beer/profile/1337/82993/</div>
<div id="83392">http://www.beeradvocate.com/beer/profile/1337/83392/</div>
<div id="83484">http://www.beeradvocate.com/beer/profile/1337/83484/</div>
<div id="83802">http://www.beeradvocate.com/beer/profile/1337/83802/</div>
<div id="83905">http://www.beeradvocate.com/beer/profile/1337/83905/</div>
<div id="84063">http://www.beeradvocate.com/beer/profile/1337/84063/</div>
<div id="84322">http://www.beeradvocate.com/beer/profile/1337/84322/</div>
<div id="84687">http://www.beeradvocate.com/beer/profile/1337/84687/</div>
<div id="84688">http://www.beeradvocate.com/beer/profile/1337/84688/</div>
<div id="84689">http://www.beeradvocate.com/beer/profile/1337/84689/</div>
<div id="84820">http://www.beeradvocate.com/beer/profile/1337/84820/</div>
<div id="85737">http://www.beeradvocate.com/beer/profile/1337/85737/</div>
<div id="85898">http://www.beeradvocate.com/beer/profile/1337/85898/</div>
<div id="85912">http://www.beeradvocate.com/beer/profile/1337/85912/</div>
<div id="85925">http://www.beeradvocate.com/beer/profile/1337/85925/</div>
<div id="86461">http://www.beeradvocate.com/beer/profile/1337/86461/</div>
<div id="86510">http://www.beeradvocate.com/beer/profile/1337/86510/</div>
<div id="86690">http://www.beeradvocate.com/beer/profile/1337/86690/</div>
<div id="86995">http://www.beeradvocate.com/beer/profile/1337/86995/</div>
<div id="87329">http://www.beeradvocate.com/beer/profile/1337/87329/</div>
<div id="87330">http://www.beeradvocate.com/beer/profile/1337/87330/</div>
<div id="87667">http://www.beeradvocate.com/beer/profile/1337/87667/</div>
<div id="87951">http://www.beeradvocate.com/beer/profile/1337/87951/</div>
<div id="87952">http://www.beeradvocate.com/beer/profile/1337/87952/</div>
<div id="88162">http://www.beeradvocate.com/beer/profile/1337/88162/</div>
<div id="88743">http://www.beeradvocate.com/beer/profile/1337/88743/</div>
<div id="88744">http://www.beeradvocate.com/beer/profile/1337/88744/</div>
<div id="89037">http://www.beeradvocate.com/beer/profile/1337/89037/</div>
<div id="90354">http://www.beeradvocate.com/beer/profile/1337/90354/</div>
<div id="90693">http://www.beeradvocate.com/beer/profile/1337/90693/</div>
<div id="90781">http://www.beeradvocate.com/beer/profile/1337/90781/</div>
<div id="90809">http://www.beeradvocate.com/beer/profile/1337/90809/</div>
<div id="90810">http://www.beeradvocate.com/beer/profile/1337/90810/</div>
<div id="90812">http://www.beeradvocate.com/beer/profile/1337/90812/</div>
<div id="90813">http://www.beeradvocate.com/beer/profile/1337/90813/</div>
<div id="90814">http://www.beeradvocate.com/beer/profile/1337/90814/</div>
<div id="90815">http://www.beeradvocate.com/beer/profile/1337/90815/</div>
<div id="90827">http://www.beeradvocate.com/beer/profile/1337/90827/</div>
<div id="90865">http://www.beeradvocate.com/beer/profile/1337/90865/</div>
<div id="91137">http://www.beeradvocate.com/beer/profile/1337/91137/</div>
<div id="94409">http://www.beeradvocate.com/beer/profile/1337/94409/</div>
<div id="94699">http://www.beeradvocate.com/beer/profile/1337/94699/</div>
<div id="95048">http://www.beeradvocate.com/beer/profile/1337/95048/</div>
<div id="95151">http://www.beeradvocate.com/beer/profile/1337/95151/</div>
<div id="95462">http://www.beeradvocate.com/beer/profile/1337/95462/</div>
<div id="95978">http://www.beeradvocate.com/beer/profile/1337/95978/</div>
<div id="96542">http://www.beeradvocate.com/beer/profile/1337/96542/</div>
<div id="96751">http://www.beeradvocate.com/beer/profile/1337/96751/</div>
<div id="97122">http://www.beeradvocate.com/beer/profile/1337/97122/</div>
<div id="98586">http://www.beeradvocate.com/beer/profile/1337/98586/</div>
<div id="99734">http://www.beeradvocate.com/beer/profile/1337/99734/</div>
<div id="101269">http://www.beeradvocate.com/beer/profile/1337/101269/</div>
<div id="101649">http://www.beeradvocate.com/beer/profile/1337/101649/</div>
<div id="101888">http://www.beeradvocate.com/beer/profile/1337/101888/</div>
<div id="102930">http://www.beeradvocate.com/beer/profile/1337/102930/</div>
<div id="102954">http://www.beeradvocate.com/beer/profile/1337/102954/</div>
<div id="103260">http://www.beeradvocate.com/beer/profile/1337/103260/</div>
<div id="103603">http://www.beeradvocate.com/beer/profile/1337/103603/</div>
<div id="103604">http://www.beeradvocate.com/beer/profile/1337/103604/</div>
<div id="103662">http://www.beeradvocate.com/beer/profile/1337/103662/</div>
<div id="103663">http://www.beeradvocate.com/beer/profile/1337/103663/</div>
<div id="103664">http://www.beeradvocate.com/beer/profile/1337/103664/</div>
<div id="104156">http://www.beeradvocate.com/beer/profile/1337/104156/</div>
<div id="105104">http://www.beeradvocate.com/beer/profile/1337/105104/</div>
<div id="105197">http://www.beeradvocate.com/beer/profile/1337/105197/</div>
<div id="105393">http://www.beeradvocate.com/beer/profile/1337/105393/</div>
<div id="106478">http://www.beeradvocate.com/beer/profile/1337/106478/</div>
<div id="106479">http://www.beeradvocate.com/beer/profile/1337/106479/</div>
<div id="106537">http://www.beeradvocate.com/beer/profile/1337/106537/</div>
<div id="107153">http://www.beeradvocate.com/beer/profile/1337/107153/</div>
<div id="107683">http://www.beeradvocate.com/beer/profile/1337/107683/</div>
<div id="107684">http://www.beeradvocate.com/beer/profile/1337/107684/</div>
<div id="107685">http://www.beeradvocate.com/beer/profile/1337/107685/</div>
<div id="107831">http://www.beeradvocate.com/beer/profile/1337/107831/</div>
<div id="108329">http://www.beeradvocate.com/beer/profile/1337/108329/</div>
<div id="108356">http://www.beeradvocate.com/beer/profile/1337/108356/</div>
<div id="108555">http://www.beeradvocate.com/beer/profile/1337/108555/</div>
<div id="109448">http://www.beeradvocate.com/beer/profile/1337/109448/</div>
<div id="110328">http://www.beeradvocate.com/beer/profile/1337/110328/</div>
<div id="110468">http://www.beeradvocate.com/beer/profile/1337/110468/</div>
<div id="110581">http://www.beeradvocate.com/beer/profile/1337/110581/</div>
<div id="110769">http://www.beeradvocate.com/beer/profile/1337/110769/</div>
<div id="110772">http://www.beeradvocate.com/beer/profile/1337/110772/</div>
<div id="110785">http://www.beeradvocate.com/beer/profile/1337/110785/</div>
<div id="110800">http://www.beeradvocate.com/beer/profile/1337/110800/</div>
<div id="111738">http://www.beeradvocate.com/beer/profile/1337/111738/</div>
<div id="112050">http://www.beeradvocate.com/beer/profile/1337/112050/</div>
<div id="112095">http://www.beeradvocate.com/beer/profile/1337/112095/</div>
<div id="112940">http://www.beeradvocate.com/beer/profile/1337/112940/</div>
<div id="113355">http://www.beeradvocate.com/beer/profile/1337/113355/</div>
<div id="113641">http://www.beeradvocate.com/beer/profile/1337/113641/</div>
<div id="113792">http://www.beeradvocate.com/beer/profile/1337/113792/</div>
<div id="113793">http://www.beeradvocate.com/beer/profile/1337/113793/</div>
<div id="113805">http://www.beeradvocate.com/beer/profile/1337/113805/</div>
<div id="64700">http://www.beeradvocate.com/beer/profile/14177/64700/</div>
<div id="35452">http://www.beeradvocate.com/beer/profile/14191/35452/</div>
<div id="36938">http://www.beeradvocate.com/beer/profile/14191/36938/</div>
<div id="89860">http://www.beeradvocate.com/beer/profile/14191/89860/</div>
<div id="86993">http://www.beeradvocate.com/beer/profile/14439/86993/</div>
<div id="110217">http://www.beeradvocate.com/beer/profile/16096/110217/</div>
<div id="110209">http://www.beeradvocate.com/beer/profile/16386/110209/</div>

</div>

</body>
