{% load static %}
<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block meta %}{% endblock meta %}
    {% block base_title %}
    <title>BeerQuest - {% block title %}Foundation 5.0.3{% endblock title %}</title>
    {% endblock base_title %}
    {# Base Foundation CSS #}
    {% block foundation_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'resources/css/foundation.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'resources/css/normalize.css' %}" />
    {% endblock foundation_css %}  
    {# Custom CSS #}
    {% block css %}{% endblock css %}
    {# Override if you need another version of modernizr #}
    {% block foundation_modernizer %}
    <script src="{% static 'resources/js/vendor/modernizr.js' %}"></script>
    {% endblock foundation_modernizer %}

    {# Custom head JS #}
    {% block head_js %}{% endblock head_js %}
</head>
<body {% block body_attr %}{% endblock body_attr %} bgcolor="#0000FF">
<div class="fixed">
<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="/tracker/">BeerQuest</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li>
        {% if user.is_authenticated %}
            <a href="/tracker/profile/">Welcome, {{ user.username }}.</a>
        {% else %}
            <a href="/tracker/register/?next={% firstof request.path '/tracker/profile/' %}">Register</a>
        {% endif %}
      </li>
      <li class="active"><a href="{% block active_bar_link %}{% if user.is_authenticated %}/tracker/logout/{% else %}{% url 'django.contrib.auth.views.login' %}{% endif %}?next={% firstof request.path '/' %}{% endblock %}">{% block active_bar_text %}{% if user.is_authenticated %}Logout{% else %}Login{% endif %}{% endblock active_bar_text %}</a></li>
      <li class="has-form">
        <div class="row collapse">
          <div class="large-8 small-9 columns">
            <input type="text" placeholder="Find Stuff">
          </div>
          <div class="large-4 small-3 columns">
            <a href="#" class="alert button expand">Search</a>
          </div>
        </div>
     </li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <li><a href="/tracker/beers/">Beers</a></li>
      <li><a href="/tracker/breweries/">Breweries</a></li>
      <li><a href="/tracker/styles/">Styles</a></li>
    </ul>
  </section>
</nav>
</div>
    {# Main content goes here #}
    {% block base_body %}{% endblock base_body %}
        <footer class="row">
        <div class="large-12 columns"><hr />
            <div class="row">

              <div class="large-6 columns">
                  <p>© Copyright Us, mother fucker.</p>
              </div>

              <div class="large-6 columns">
                  <ul class="inline-list right">
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="/tracker/beers/">Beers</a></li>
                    <li><a href="/tracker/breweries/">Breweries</a></li>
                    <li><a href="/tracker/styles/">Styles</a></li>
                  </ul>
              </div>

            </div>
        </div>
      </footer>


    {# Override if you need another version of jQuery #}
    {% block foundation_jquery %}
    <script src="{% static 'resources/js/vendor/jquery.js' %}"></script>
    {% endblock foundation_jquery %}

    {# Foundation JS #}
    {% block foundation_js %}
    <script src="{% static 'resources/js/foundation.min.js' %}"></script>
    {% endblock foundation_js %}

    {# Custom JS #}
    {% block body_js %}{% endblock body_js %}

    {# Init Foundation #}
    {% block foundation_js_init %}
    <script>
        $(document).foundation();
    </script>
    {% endblock foundation_js_init %}
</body>
</html>
