{% extends "tracker/base.html" %}
{% load static %}
{% block title %}{{ beer.name }}{% endblock %}
{% block base_body %}
{% block content %}
<h3>{{ beer.name }}<small> - {{ beer.brewery.name }}</small></h3>
<h6><small>Style:</small>{{ beer.style.name}}</h6>
<br/>
{{ beer.details }}
<br/>
<br/>
ABV: {{ beer.abv }} %
{% with "media/"|add:beer.picture as picture %}
<img src="{% static picture %}"/>
{% endwith %}
<table>
<thead>
<tr>
  <th>Reviewer</th>
  <th>Rating</th>
  <th>Details</th>
</tr>
</thead>
<tbody>
{% for rating in rating_list %}
<tr>
  <td>{{ rating.taster.nickName }}</td>
  <td>{{ rating.overallRating }}</td>
  <td>{{ rating.notes|truncatewords:"20" }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock content %}
{% endblock base_body %}
