{% extends "tracker/base.html" %}
{% load static %}
{% load beer_tags %}
{% load humanize %}
{% block title %}Beer List{% endblock %}
{% block base_body %}
{% block content %}
<br/>
<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h3>Beers<small> - {{ beers.paginator.count|intcomma }} and counting!</small></h3>
    </div>
  </div>
</div>
<div class="ajaxLoadDiv ajaxAnchor">
    {% include "tracker/beerTable.html" %}
</div>
{% endblock content %}
{% endblock base_body %}
