{% extends "tracker/base.html" %}
{% load static %}
{% block title %}{{ beer.name }}{% endblock %}
{% block active_bar_text %}Rate this Beer!{% endblock %}
{% block base_body %}
{% block content %}
<br/>
<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h3>{{ beer.name }}<small> - {{ beer.brewery.name }}</small><hr/></h3>
      <div class="row">
        <div class="large-2 columns">
          <img src="http://placehold.it/200x300&Text=Image">
        </div>
        <div class="large-2 columns">
          ABV: {{ beer.abv }} %
        </div>
        <div class="large-3 columns end">
          <small>Style:</small><a href="#">{{ beer.style.name}}</a></h6>
        </div>
      </div>
    </div>
  </div>  
</div>
<br/>
{{ beer.details }}
<br/>
<br/>
<div class="row">
  <div class="large-12 columns">
<dl class="accordion" data-accordion>
  <dd>
    <a href="#panel1b">Rate this Beer!</a>
    <div id="panel1b" class="content">
      FORM SHIT GOES HERE
    </div>
  </dd>
</dl>
</div>
</div>
<br/><br/>
<div class="row">
<table>
<thead>
<tr>
  <th>Reviewer</th>
  <th>Rating</th>
  <th>Details</th>
</tr>
</thead>
<tbody>
{% for rating in rating_list %}
<tr>
  <td>{{ rating.taster.nickName }}</td>
  <td>{{ rating.overallRating }}</td>
  <td>{{ rating.notes|truncatewords:"20" }}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
{% endblock content %}
{% endblock base_body %}
