{% load beer_tags %}
<div class="row">
  <div class="large-12 columns">
        <table style="width:100%;table-layout:fixed;">
        <thead>
        <tr>
          <th style="width:31%"><a href="?order_by={% if request.GET.order_by %}{% ifequal request.GET.order_by 'name' %}-{% endifequal %}{% else %}-{% endif %}name" class='tableSortLink'>Beer</a></th>
          <th style="width:31%"><a href="?order_by={% ifequal request.GET.order_by 'brewery__name' %}-{% endifequal %}brewery__name" class='tableSortLink'>Brewery</a></th>           		  <th style="width:31%"><a href="?order_by={% ifequal request.GET.order_by 'style__name' %}-{% endifequal %}style__name" class='tableSortLink'>Style</a></th>
          <th style="width:8%"><a href="?order_by={% ifequal request.GET.order_by 'abv' %}-{% endifequal %}abv" class='tableSortLink'>ABV</a></th>
          <th style="width:7%"><a href="?order_by={% ifequal request.GET.order_by 'avg_rating' %}-{% endifequal %}avg_rating" class='tableSortLink'>Overall Rating</a></th>
          <th style="width:7%"><a href="?order_by={% ifequal request.GET.order_by 'avg_volume' %}-{% endifequal %}avg_volume" class='tableSortLink'>Volume Rating</a></th>
          <th style="width:7%"><a href="?order_by={% ifequal request.GET.order_by 'avg_drunk' %}-{% endifequal %}avg_drunk" class='tableSortLink'>Drunk Rating</a></th>
        </tr>
        </thead>
        <tbody>
        {% for beer in beers %}
        <tr>
          <td><a href="/tracker/beer/{{ beer.id }}/">{{ beer.name }}{% if beer.retired %}*{% endif %}</a></td>
          <td><a href="/tracker/brewery/{{ beer.brewery.id }}">{{ beer.brewery.name}}</a></td>
          <td><a href="/tracker/style/{{ beer.style.id }}">{{ beer.style.name}}</a></td>
          <td>{% if beer.abv %}{{ beer.abv }}{% else %}?{% endif %}</td>
          <td>{{ beer.avg_rating|floatformat:"1" }}</td>
          <td>{{ beer.avg_volume|floatformat:"1" }}</td>
          <td>{{ beer.avg_drunk|floatformat:"1" }}</td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
        {% paginateNumbers beers orderBy=request.GET.order_by defaultOrderBy='name' %}
        <div data-alert class="alert-box info radius large-6 small-centered columns" style="text-align:center">
            Note: * denotes beers that are no longer actively brewed.
        </div>
    </div>
</div>

