{% extends "tracker/base.html" %}
{% load static %}
{% load beer_tags %}
{% block title %}{{ beer.name }}{% endblock %}
{% block head_js %}
<link rel="stylesheet" type="text/css" href="{% static 'resources/css/jquery-ui-1.10.4.custom.min.css' %}" />
<script src="{% static 'resources/js/vendor/jquery.js' %}"></script>
<script src="{% static 'resources/js/vendor/jquery-ui-1.10.4.custom.min.js' %}"></script>
 <script>
jQuery(function($){
  $(function() {
    $( "#id_date" ).datepicker({ changeMonth: true });
  });
});
  </script>
{% endblock head_js %}
{% block base_body %}
{% block content %}
<br/>
<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h3>{{ beer.name }}<small> - <a href="/tracker/brewery/{{ beer.brewery_id }}/">{{ beer.brewery.name }}</a></small></h3>
      <div class="row">
        <div class="large-2 columns">
          <img src="http://placehold.it/200x300&Text=Image">
        </div>
	<div class="large-10 columns end">
		<div class="row">
			<div class="large-2 columns">
			  ABV: {{ beer.abv }} %
			</div>
			<div class="large-8 columns end">
			  Style: <a href="/tracker/style/{{ beer.style.id }}">{{ beer.style.name}}</a>
			</div>
		</div>
		<div class="row">
			<div class="large-10 columns end">
				<br/><h3><small>Description:</small></h3>
			</div>
		</div>
		<div class="row">
			<div class="large-10 columns end">
				{{ beer.description | safe}}
			</div>	
		</div>
        {% if beer.retired %}
		<div class="row">
			<div class="large-10 columns end">
				<b>Note: This beer is retired.</b>
			</div>
		</div>
        {% endif %}
	</div>
      </div>
    </div>
  </div>  
</div>

<div class="row">
  <div class="large-12 columns">
<dl class="accordion" data-accordion>
  <dd>
    <a href="#panel1a">Rate this Beer!</a>
    <div id="panel1a" class="{% ifequal form.is_bound True %}contentactive{% else %}content{% endifequal %}">
        {% if user.is_authenticated %}
          <form action="" method="post"
         {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>{% csrf_token %}
           <div class="row">
             <div class="large-4 columns">
               <p><label for="id_date">Date:</label> 
               <input id="id_date" name="date" type="text" value="{% now "SHORT_DATE_FORMAT" %}" /></p>
             </div>
             <div class="large-4 columns">
               <p><label for="id_overallRating">Overall Rating:</label> 
               <input id="id_overallRating" max="10.0" min="0" name="overallRating" step="0.1" type="number" /></p>
             </div>
             <div class="large-4 columns">
               <p><label for="id_volumeRating">Volume Rating:</label> 
               <input id="id_volumeRating" max="10.0" min="0" name="volumeRating" step="0.1" type="number" /></p>
             </div>
           </div>
           <div class="row">
             <div class="large-12 columns">
              <label for="id_notes">Notes:</label> <textarea cols="40" id="id_notes" name="notes" rows="40"/></textarea></p>
             </div>
           </div>
           <p><label for="id_picture">Picture:</label> <input id="id_picture" name="picture" type="file" /></p>

            <input type="submit" class="small button" value="Submit" />
          </form>
        {% else %}
            <a href="{% url 'django.contrib.auth.views.login' %}?next={% firstof request.path '/' %}">Please Login To Rate</a>
        {% endif %}
    </div>
  </dd>
  <dd>
    <a href="#panel1b">View Ratings</a>
    <div id="panel1b" class="content">

{% for rating in rating_list %}
<div class="row">
  <div class="large-12 columns">
    <table style="width:100%">
      <tbody>
        <tr>
          <td style="width:35%"><b>Reviewer:</b> {% if rating.taster.nickName %}{{ rating.taster.nickName }}{% else %}{{ rating.user.username }}{% endif %}</td>
          <td style="width:20%"><b>Flavor:</b> {{ rating.overallRating }}</td>
          <td style="width:20%"><b>Volume:</b> {{ rating.volumeRating }}</td>
          <td style="width:25%"><b>Date:</b> {{ rating.date }}</td>
        </tr>
        <tr>
            {% if rating.picture %}
                <td colspan="3" style="word-break:break-all">{{ rating.notes }}</td>
                <td colspan="1"><img src ="{{ rating.picture.url }}"></td>    
            {% else %}
                <td colspan="4" style="word-break:break-all">{{ rating.notes }}</td>           
            {% endif %}
        </tr>
      </tbody>
    </table>     
  </div>
</div>
{% endfor %}
{% paginateNumbers rating_list orderBy=request.GET.order_by defaultOrderBy='-date' %}
    </div>
  </dd>
</dl>
</div>
</div>
<br/><br/>
{% endblock content %}
{% endblock base_body %}
