{% extends "tracker/base.html" %}
{% load static %}
{% load beer_tags %}
{% block title %}{{ brewery.name }}{% endblock %}
{% block active_bar_text %}Rate this Beer!{% endblock %}
{% block active_bar_link %}#panel1b{% endblock %}
{% block base_body %}
{% block content %}
<br/>
<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h3>{{ brewery.name }}<small> - {{ brewery.city }}{% if brewery.state %}, {{ brewery.state }} {% elif brewery.country %}, {{ brewery.country }}{% endif %}</small></h3>
      <div class="row">
        <div class="large-2 columns">
          <img src="http://placehold.it/200x300&Text=Image">
        </div>
	<div class="large-10 columns end">
		<div class="row">
			<div class="large-10 columns end">
			  {% ifnotequal brewery.website "" %}<a href="{{ brewery.website }}">Official Website</a>{% else %}Official Website Not Found{% endifnotequal %}
			</div>
		</div>
		<div class="row">
			<div class="large-10 columns end">
				<br/><h3><small>Description:</small></h3>
			</div>
		</div>
		<div class="row">
			<div class="large-10 columns end">
				{{ brewery.description | safe}}
			</div>	
		</div>
	</div>
      </div>
    </div>
  </div>  
</div>

<div class="row">
  <div class="large-12 columns">
        <table style="width:100%">
        <thead>
        <tr>
          <th style="width:40%"><a href="?order_by={% ifequal request.GET.order_by 'name' %}-{% endifequal %}name">Beer</i></a></th>
          <th style="width:10%"><a href="?order_by={% ifequal request.GET.order_by 'abv' %}-{% endifequal %}abv">ABV</a></th>
          <th style="width:50%"><a href="?order_by={% ifequal request.GET.order_by 'retired' %}-{% endifequal %}retired">Retired</a></th>
        </tr>
        </thead>
        <tbody>
        {% for beer in beers %}
        <tr>
          <td><a href="/tracker/beer/{{ beer.id }}/">{{ beer.name }}</a></td>
          <td>{% if beer.abv %}{{ beer.abv }}{% else %}?{% endif %}</td>
          <td>{{ beer.retired }}</td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
        {% paginateNumbers beers orderBy=request.GET.order_by defaultOrderBy='name' %}
    </div>
</div>
<br/><br/>
{% endblock content %}
{% endblock base_body %}
