{% extends "tracker/base.html" %}
{% load static %}
{% load beer_tags %}
{% block title %}{{ brewery.name }}{% endblock %}
{% block base_body %}
{% block content %}
<br/>
<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h3>{{ brewery.name }}<small> - {{ brewery.city }}{% if brewery.state %}, {{ brewery.state }} {% elif brewery.country %}, {{ brewery.country }}{% endif %}</small></h3>
      <div class="row">
        <div class="large-2 columns">
          <img src="http://placehold.it/200x300&Text=Image">
        </div>
	<div class="large-10 columns end">
		<div class="row">
			<div class="large-10 columns end">
			  {% ifnotequal brewery.website "" %}<a href="{{ brewery.website }}">Official Website</a>{% else %}Official Website Not Found{% endifnotequal %}
			</div>
		</div>
		<div class="row">
			<div class="large-10 columns end">
				<br/><h3><small>Description:</small></h3>
			</div>
		</div>
		<div class="row">
			<div class="large-10 columns end">
				{{ brewery.description | safe}}
			</div>	
		</div>
	</div>
      </div>
    </div>
  </div>  
</div>
{% beerTable beers orderBy=request.GET.order_by defaultOrderBy='name' %}
<br/><br/>
{% endblock content %}
{% endblock base_body %}
