{% load beer_tags %}
{% load humanize %}
<div class="row">
  <div class="large-12 columns">
        <table style="width:100%;table-layout:fixed;">
        <thead>
        <tr>
          <th style=width:30%"><a href="?order_by={% if request.GET.order_by %}{% ifequal request.GET.order_by 'name' %}-{% endifequal %}{% else %}-{% endif %}name" class='tableSortLink'>Brewery</a></th>
          <th style="width:20%"><a href="?order_by={% ifequal request.GET.order_by 'city' %}-{% endifequal %}city" class='tableSortLink'>City</a></th>
          <th style="width:10%"><a href="?order_by={% ifequal request.GET.order_by 'state' %}-{% endifequal %}state" class='tableSortLink'>State</a></th>
          <th style="width:20%"><a href="?order_by={% ifequal request.GET.order_by 'country' %}-{% endifequal %}country" class='tableSortLink'>Country</a></th>
          <th style="width:8%"><a href="?order_by={% ifequal request.GET.order_by 'website' %}-{% endifequal %}website" class='tableSortLink'>Website</a></th>
          <th style="width:7%"><a href="?order_by={% ifequal request.GET.order_by 'beer_count' %}-{% endifequal %}beer_count" class='tableSortLink'>Beers</a></th>
        </tr>
        </thead>
        <tbody>
        {% for brewery in breweries %}
        <tr>
          <td><a href="/tracker/brewery/{{ brewery.id }}/">{{ brewery.name }}</a></td>
          <td>{% if brewery.city %}{{ brewery.city }}{% endif %}</a></td>
          <td>{% if brewery.state %}{{ brewery.state }}{% endif %}</td>
          <td>{% if brewery.country %}{{ brewery.country }}{% endif %}</td>
          <td>{% if brewery.website %}<a href="{{ brewery.website }}">Website</a>{% endif %}</td>
          <td>{{ brewery.beer_count|intcomma }}</td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
        {% paginateNumbers breweries orderBy=request.GET.order_by defaultOrderBy='name' %}
    </div>
</div>
