{% extends "tracker/base.html" %}
{% load static %}
{% block title %}Login{% endblock %}
{% block base_body %}
{% block content %}
<br/>
<div class="row">
    <div class="large-12 columns">
        <div class="panel">
            {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
            {% endif %}

            <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
            {% csrf_token %}
            <div class="row">
                <div class="small-6 small-centered columns">
                    {{ form.username.label_tag }}{{ form.username }}
                </div>
            </div>
            <div class="row">
                <div class="small-6 small-centered columns">
                    {{ form.password.label_tag }}{{ form.password }}
                </div>
            </div>
            <div class="row">
                <div class="small-6 small-centered columns">
                    <input type="submit" class="small button" value="Login" style="width:100%"/>
                </div>
            </div>
            <input type="hidden" name="next" value="{{ next }}"/>
            </form>
            <div class="small-6 small-centered columns" style="text-align:center">
                    <a href="/tracker/register/" >Register</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% endblock base_body %}


