{% extends "tracker/base.html" %}
{% load static %}
{% load beer_tags %}
{% block title %}{{ userProfile.username }}{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'resources/css/jquery-ui-1.10.4.custom.min.css' %}" />
{% endblock %}
{% block body_js %}
{{ block.super }}
<script src="{% static 'resources/js/vendor/jquery-ui-1.10.4.custom.min.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('tr .ratingHeader').click(function(event) {
            if(typeof $(event.target).closest('a') == "undefined" || $(event.target).closest('a').length == 0)
            {
                var plusSign = $(this).children('th:first').find('span:first')
                if(plusSign.length > 0)
                {
                    plusSign.toggleClass('ui-icon-circle-plus').toggleClass('ui-icon-circle-minus');
                    $(this).closest('.ratingTable').children('tbody .ratingBody').toggle('fast');
                }
            }
        });
        $('#ratingsPanel').click(function(event) {
            $(this).find('span:first').toggleClass('ui-icon-plusthick').toggleClass('ui-icon-minusthick');
        });
    });
</script>
{% endblock body_js %}
{% block base_body %}
{% block content %}

<br/>
<div class="row">
    <div class="panel">
        <h3>{{ userProfile.username }}<small> - {% ifequal user.id userProfile.id %}{{ userProfile.first_name }}{% endifequal %}{% if userProfile.taster.nickName %} "{{ userProfile.taster.nickName }}"{% endif %} {% ifequal user.id userProfile.id %}{{ userProfile.last_name }}{% endifequal %}</small></h3>
        <div class="row">
            <div class="large-2 columns">
              {% if userProfile.taster.picture %}
                <img src="{{ userProfile.taster.picture.url }}">
              {% else %}
                <img src="http://placehold.it/200x300&Text=Image">
              {% endif %}
            </div>
	        <div class="large-10 columns end">
		        <div class="row">
			        <div class="large-10 columns end">
                        <br/>
                        {% if userProfile.email %}<a href="mailto:{{ userProfile.email }}">{{ userProfile.email }}</a>{% else %}No Email Found{% endif %}
			        </div>
		        </div>
		        <div class="row">
			        <div class="large-10 columns end">
                        <br/>
				        Joined: {{ userProfile.date_joined | date:"F n, Y" }}
			        </div>
		        </div>
		        <div class="row">
			        <div class="large-10 columns end">
                        <br/>
				        {{ userProfile.taster.description | safe }}
			        </div>	
		        </div>
	        </div>
        </div>
    </div>
</div>


<div class="row">
    <dl class="accordion" data-accordion>
        <dd class="ajaxAnchor">
            <a href="#myRatingsPanel" id="ratingsPanel"><span class="ui-icon ui-icon-minusthick"></span>&nbsp;My Ratings</a>
            <div class="panel content active ajaxLoadDiv" id="myRatingsPanel">
                {% include "tracker/userRatingTable.html" %}
            </div>
        </dd>
    </dl>
</div>

<br/><br/>
{% endblock content %}
{% endblock base_body %}
