{% extends "tracker/base.html" %}
{% load static %}
{% load beer_tags %}
{% block title %}Search{% endblock %}
{% block base_body %}
{% block content %}
<br/>
<div class="row">
  <div class="large-12 columns">
    {% if messages %}
        <div data-alert class="alert-box warning">
            {% for message in messages %}
                {% ifequal message.tags "warning" %}
                    {{ message }} 
                {% endifequal %}
            {% endfor %} 
            <a href="#" class="close">&times;</a>
        </div> 
    {% endif %} 
    <dl class="tabs ajaxAnchor" data-tab>
      <dd class="active"><a href="#beerPanel">Beers ({{ beers.paginator.count  }})</a></dd>
      <dd><a href="#breweryPanel">Breweries ({{ breweries.paginator.count }})</a></dd>
      <dd><a href="#stylePanel">Styles ({{ styles.paginator.count }})</a></dd>
    </dl>
    <div class="tabs-content">
      <div class="content active ajaxLoadDiv" id="beerPanel">
        {% include "tracker/beerTable.html" %}
      </div>
      <div class="content ajaxLoadDiv" id="breweryPanel">
        {% include "tracker/breweryTable.html" %}
      </div>
      <div class="content ajaxLoadDiv" id="stylePanel">
        {% include "tracker/styleTable.html" %}
      </div>
    </div>
  </div>
</div>
<br/><br/>
{% endblock content %}
{% endblock base_body %}
