{% load beer_tags %}
<div class="row">
  <div class="large-12 columns">
        <table style="width:100%">
        <thead>
        <tr>
          <th style="width:30%"><a href="?order_by={% ifequal orderBy 'name' %}-{% endifequal %}name">Style</a></th>
          <th style="width:5%"><a href="?order_by={% ifequal orderBy 'lowabv' %}-{% endifequal %}lowabv">Low ABV</a></th>
          <th style="width:5%"><a href="?order_by={% ifequal orderBy 'highabv' %}-{% endifequal %}highabv">High ABV</a></th>
          <th style="width:5%"><a href="?order_by={% ifequal orderBy 'beer_count' %}-{% endifequal %}beer_count">Beers</a></th>
          <th style="width:55%"><a href="?order_by={% ifequal orderBy 'description' %}-{% endifequal %}description">Description</a></th>
        </tr>
        </thead>
        <tbody>
        {% for style in styles %}
        <tr>
          <td><a href="/tracker/style/{{ style.id }}/">{{ style.name }}</a></td>
          <td>{% if style.lowabv %}{{ style.lowabv }}{% endif %}</a></td>
          <td>{% if style.highabv %}{{ style.highabv }}{% endif %}</td>
          <td>{{ style.beer_set.count }}</td>
          <td>{% if style.description %}{{ style.description }}{% endif %}</td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
        {% paginateNumbers styles orderBy=orderBy %}
    </div>
</div>
