{% extends "tracker/base.html" %}
{% load static %}
{% load beer_tags %}
{% block title %}{{ style.name }}{% endblock %}
{% block base_body %}
{% block content %}
<br/>
<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h3>{{ style.name }}<a href="/admin/tracker/style/{{ style.id }}/" class="button tiny right">Edit</a></h3>
      <div class="row">
        <div class="large-2 columns">
              {% if style.picture %}
                <img src="{{ style.picture.url }}">
              {% else %}
                <img src="http://placehold.it/200x300&Text=Image">
              {% endif %}
        </div>
	<div class="large-10 columns end">
		<div class="row">
			<div class="large-10 columns end">
			  Average ABV Range: {% firstof style.lowabv "?" %} - {% firstof style.highabv "?" %}
			</div>
		</div>
		<div class="row">
			<div class="large-10 columns end">
				<br/><h3><small>Description:</small></h3>
			</div>
		</div>
		<div class="row">
			<div class="large-10 columns end">
				{{ style.description | safe }}
			</div>	
		</div>
	</div>
      </div>
    </div>
  </div>  
</div>
<div class="ajaxAnchor ajaxLoadDiv">
    {% include "tracker/beerTable.html" %}
</div>
<br/><br/>
{% endblock content %}
{% endblock base_body %}
