{% extends "tracker/base.html" %}
{% load static %}
{% load beer_tags %}
{% block title %}{{ brewery.name }}{% endblock %}
{% block active_bar_text %}Rate this Beer!{% endblock %}
{% block active_bar_link %}#panel1b{% endblock %}
{% block base_body %}
{% block content %}
<br/>
<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h3>{{ style.name }}</h3>
      <div class="row">
        <div class="large-2 columns">
          <img src="http://placehold.it/200x300&Text=Image">
        </div>
	<div class="large-10 columns end">
		<div class="row">
			<div class="large-10 columns end">
			  Average ABV Range: {% firstof style.lowabv "?" %} - {% firstof style.highabv "?" %}
			</div>
		</div>
		<div class="row">
			<div class="large-10 columns end">
				<br/><h3><small>Description:</small></h3>
			</div>
		</div>
		<div class="row">
			<div class="large-10 columns end">
				{{ style.description | safe }}
			</div>	
		</div>
	</div>
      </div>
    </div>
  </div>  
</div>
{% beerTable beers orderBy=request.GET.order_by defaultOrderBy='name' %}
<br/><br/>
{% endblock content %}
{% endblock base_body %}
