{% extends "tracker/base.html" %}
{% load static %}
{% load humanize %}
{% load beer_tags %}
{% block title %}Welcome!{% endblock %}
{% block base_body %}
{% block content %}
<br/>
<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h3>BeerQuest<small> - A Journey to Victory and Mass Beer Knowledge. It is a B(eer) Odyssey.</small></h3>
      <div class="row">
        <div class="large-2 columns">
          <img src="http://placehold.it/200x300&Text=Image">
        </div>
	<div class="large-10 columns end">
		<div class="row">
			<div class="large-10 columns end">
<p>Welcome to BeerQuest.  Our goal is to drink beer and be able to remember which ones we liked.  We use a two prong rating system, flavor and volume.  Flavor tracks the overall taste and enjoyment of the beer, a higher value means a more pleasant beer experience.  Volume indicates how much of a beer you could drink.  Some beers may be very tasty, but you may only be able to drink a few of them.  The drunakability of a beer is then calculated based on the volume and the ABV.
</p>
<p>
BeerQuest currently has a database of {{ beerCount|intcomma }} <a href="/tracker/beers/">beers</a>, {{ breweryCount|intcomma }} <a href="/tracker/breweries/">breweries</a>, and {{ ratingCount|intcomma }} ratings.
</p>
			</div>
		</div>
	</div>
      </div>
    </div>
  </div>  
</div>
<br/><br/>
{% endblock content %}
{% endblock base_body %}
